include ../tools/mixins
head
  meta(charset="utf-8")
  title Shinobi
  meta(name="description" content="")
  meta(http-equiv='X-UA-Compatible', content='IE=edge, chrome=1')
  meta(name="viewport" content="width=device-width, initial-scale=1.0")

  link(rel="shortcut icon" href="/favicon.ico")

  link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css")
  link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.3.1/css/all.css', integrity='sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU', crossorigin='anonymous')

  // Place favicon.ico and apple-touch-icon.png in the root directory
  // build:css(.) styles/vendor.css
  // bower:css
  // endbower
  // endbuild

  // build:css(.tmp) styles/main.css
  link(rel="stylesheet" href="styles/main.css")
  // endbuild

  // build:js scripts/vendor/modernizr.js
  script(src="bower_components/modernizr/modernizr.js")
  // endbuild
