// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$arrow-down-name: 'arrow-down';
$arrow-down-x: 426px;
$arrow-down-y: 0px;
$arrow-down-offset-x: -426px;
$arrow-down-offset-y: 0px;
$arrow-down-width: 24px;
$arrow-down-height: 24px;
$arrow-down-total-width: 450px;
$arrow-down-total-height: 426px;
$arrow-down-image: '../images/icons/sprite.png';
$arrow-down: (426px, 0px, -426px, 0px, 24px, 24px, 450px, 426px, '../images/icons/sprite.png', 'arrow-down', );
$arrow-up-name: 'arrow-up';
$arrow-up-x: 426px;
$arrow-up-y: 24px;
$arrow-up-offset-x: -426px;
$arrow-up-offset-y: -24px;
$arrow-up-width: 24px;
$arrow-up-height: 24px;
$arrow-up-total-width: 450px;
$arrow-up-total-height: 426px;
$arrow-up-image: '../images/icons/sprite.png';
$arrow-up: (426px, 24px, -426px, -24px, 24px, 24px, 450px, 426px, '../images/icons/sprite.png', 'arrow-up', );
$left-arrow-name: 'left-arrow';
$left-arrow-x: 426px;
$left-arrow-y: 48px;
$left-arrow-offset-x: -426px;
$left-arrow-offset-y: -48px;
$left-arrow-width: 24px;
$left-arrow-height: 24px;
$left-arrow-total-width: 450px;
$left-arrow-total-height: 426px;
$left-arrow-image: '../images/icons/sprite.png';
$left-arrow: (426px, 48px, -426px, -48px, 24px, 24px, 450px, 426px, '../images/icons/sprite.png', 'left-arrow', );
$logo-shinobi-name: 'logo_shinobi';
$logo-shinobi-x: 0px;
$logo-shinobi-y: 0px;
$logo-shinobi-offset-x: 0px;
$logo-shinobi-offset-y: 0px;
$logo-shinobi-width: 426px;
$logo-shinobi-height: 426px;
$logo-shinobi-total-width: 450px;
$logo-shinobi-total-height: 426px;
$logo-shinobi-image: '../images/icons/sprite.png';
$logo-shinobi: (0px, 0px, 0px, 0px, 426px, 426px, 450px, 426px, '../images/icons/sprite.png', 'logo_shinobi', );
$sirius-name: 'sirius';
$sirius-x: 426px;
$sirius-y: 72px;
$sirius-offset-x: -426px;
$sirius-offset-y: -72px;
$sirius-width: 16px;
$sirius-height: 12px;
$sirius-total-width: 450px;
$sirius-total-height: 426px;
$sirius-image: '../images/icons/sprite.png';
$sirius: (426px, 72px, -426px, -72px, 16px, 12px, 450px, 426px, '../images/icons/sprite.png', 'sirius', );
$spritesheet-width: 450px;
$spritesheet-height: 426px;
$spritesheet-image: '../images/icons/sprite.png';
$spritesheet-sprites: ($arrow-down, $arrow-up, $left-arrow, $logo-shinobi, $sirius, );
$spritesheet: (450px, 426px, '../images/icons/sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
