/* --- TYPOGRAPHY --- */
body {
  color: $default-text;
  font-family: $font-family;
  font-size: $base-font-size;
}


.title-tp1{
  font-family: 'Montserrat',sans-serif;
  font-size: em(82px);
  line-height:80px;
  color: #fff;
  text-align: left;
  letter-spacing: -4px;
  padding-top: 0;
  margin-top: 0;

  @media(max-width:767px){
    font-size: em(60px);
  }

  @media(max-width: 450px){
    font-size: 50px;
    line-height: 60px;
  }
}

.title-tp2{
	color: #FFFFFF;
	font-family:'Montserrat',sans-serif;
	font-size:em(30px);
	font-weight: bold;
	line-height: 40px;
	text-align: center;
}