/* --- HOME --- */

.container{
    position: relative;
    max-width: 1170px;
    padding: 0 20px;
    margin: 0 auto;

    @media(max-width:767px){
        max-width:90%;
        padding: initial;
    }
}

.link-decorator{
    display: block;
    color: #fff;
    text-align: left;
    text-decoration: none;
    position: relative;
    text-transform: uppercase;
    font-size: em(13px);
    span{
        z-index: 2;
        position: relative;
    }

    &:after{
        content: "";
        display: block;
        background: #C65064;
        height: 31px;
        width: 120px;
        position: absolute;
        top: -6px;
        left:12%;
    }
}

#main-menu{
    a{
        font-family: 'Open Sans';
        color: #fff;
        text-transform: uppercase;
        text-decoration: none;
        font-size: em(14px); 
        margin-right: 60px;

        @media(max-width:450px){
            margin-right: 10px;
        }
        
        &:hover{
            color: #C65064;
        }
    }
}

#hero-shinobi{
    height:100vh;
    background-image: url('../images/img_shinobi.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;

    @media(max-width:767px){
        flex-direction: column;
        padding-top: 10%;
        padding-bottom: 10%;
        height:100%;
    }
    .container{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: flex-start;
    }

    .block-left{
        order:1;
        @media(max-width:755px){
            order:2;
        }
    }

    .block-right{
        display: flex;
        align-items: center;
        order:2;
        @media(max-width:755px){
            order:1;
        }
    }

    #brand-shinobi{
        a{
            display: block;
        }
    }


    .block-services{
        order:3;
        display: flex;
        border-top: 1px solid #313131;
        padding-top: 20px;
        margin-top:100px;
        justify-content: space-between;
        position: relative;

        @media(max-width:767px){
            flex-direction: column;
        }
        &:before{
            position: absolute;
            content: "";
            display: block;
            height: 5px;
            width: 30px;
            background-color: #C65064;
            top:-3px;
        }
        .service-item{
            opacity:0.6;
            h2{
                color: #fff;
                text-transform: uppercase;
                text-align: left;
                font-size: 15px;
                font-weight: bold;
                font-family: 'Open Sans';
                letter-spacing:2px;
                margin-bottom:20px;
            }

            p{
                width: 80%;
                text-align: left;
                color: #fff;
                font-size: em(14px);
                line-height: 24px;
                font-family: 'Open Sans';
                font-weight: normal;
            }

            &:hover{
                opacity: 1;
                cursor: pointer;
            }
        }
    }
}


#shinobi-contact{
    background-color: #000;
    border-top:20px solid #0e0e0e;
    height:100vh;
    padding-top: 10px;
    display: none;
    position: absolute;
    top: 0;
    width: 100%;
    z-index:10;

    &.visible{
        display: block;
        @media(max-width:1024px){
            height: 100%;
        }
    }

    .contact-title{
        width: 50%;
        margin: 0 auto;

        @media(max-width:430px){
            width:auto;
        }
    }

    p{
        text-align: center;
        color: #fff;
    }

    form#form-help-me{
        margin-top:50px;
    }

    .close-action{
        position: absolute;
        left: 3%;
        text-indent: -999999em;
        @include sprite($left-arrow);
    }

    #brand-shinobi{
        position: absolute;
        right: 3%;
        @media(max-width:430px){
            position: initial;
        }
    }
}