/* --- FONTS @FACE --- */
@import url('https://fonts.googleapis.com/css?family=Lato:100,300,300i,400,400i,700,700i,900');
@import url('https://fonts.googleapis.com/css?family=Montserrat:100,400,500,500i,600,700,700i,800,800i,900,900i');

/* --- FONT --- */
$font-family: 'Open Sans', sans-serif;
$base-font-size: 16px;
$default-text: $black-900;
$default-text-link: $black-900;