/* --- GRID --- */
$page-width: 1170px;

html {
  overflow: hidden;
  overflow-y: scroll;
}

body {
  box-sizing: border-box;
  display: inline-block;
  float: left;
  margin: 0;
  min-height: 100vh;
  position: relative;
  text-align: center;
  width: 100%;
}

.wrapper {
  box-sizing: border-box;
  display: inline-block;
  max-width: $page-width;
  text-align: left;
  width: 100%;
  vertical-align: top;
}
