extends layout/main
block content
	.wrapper
		#content
			article.post#formulario
				h2: a(href="componentes.html") # Formulário

				h3 Select

				.select
					select
						option Opção 1
						option Opção 2
						option Opção 3
			article.post#busca
				h2: a(href="componentes.html") # Busca

				p Mussum Ipsum, cacilds vidis litro abertis. Quem num gosta di mim que vai caçá sua turmis! Interagi no mé, cursus quis, vehicula ac nisi. Admodum accumsan disputationi eu sit. Vide electram sadipscing et per. Si u mundo tá muito paradis? Toma um mé que o mundo vai girarzis!
			article.post#botao
				h2: a(href="componentes.html") # Botão

				p Mussum Ipsum, cacilds vidis litro abertis. Quem num gosta di mim que vai caçá sua turmis! Interagi no mé, cursus quis, vehicula ac nisi. Admodum accumsan disputationi eu sit. Vide electram sadipscing et per. Si u mundo tá muito paradis? Toma um mé que o mundo vai girarzis!

				a(href="#" class="btn") Botão
				a(href="#" class="btn btn-thin") Botão
				a(href="#" class="btn btn-rounded") Botão


			article.post#modal
				h2: a(href="componentes.html") # Modal

				p Mussum Ipsum, cacilds vidis litro abertis. Quem num gosta di mim que vai caçá sua turmis! Interagi no mé, cursus quis, vehicula ac nisi. Admodum accumsan disputationi eu sit. Vide electram sadipscing et per. Si u mundo tá muito paradis? Toma um mé que o mundo vai girarzis!

				a(data-src='#hidden-content', href='javascript:;' data-fancybox class="btn lightbox") Abrir Modal

				#hidden-content(style='display: none;')
					h2 Hello
					p You are awesome.

			article.post#alerta
				h2: a(href="componentes.html") # Alerta

				p Mussum Ipsum, cacilds vidis litro abertis. Quem num gosta di mim que vai caçá sua turmis! Interagi no mé, cursus quis, vehicula ac nisi. Admodum accumsan disputationi eu sit. Vide electram sadipscing et per. Si u mundo tá muito paradis? Toma um mé que o mundo vai girarzis!
			article.post#paginacao
				h2: a(href="componentes.html") # Paginação

				p Mussum Ipsum, cacilds vidis litro abertis. Quem num gosta di mim que vai caçá sua turmis! Interagi no mé, cursus quis, vehicula ac nisi. Admodum accumsan disputationi eu sit. Vide electram sadipscing et per. Si u mundo tá muito paradis? Toma um mé que o mundo vai girarzis!
			article.post#sanfona
				h2: a(href="componentes.html") # Sanfona

				p Mussum Ipsum, cacilds vidis litro abertis. Quem num gosta di mim que vai caçá sua turmis! Interagi no mé, cursus quis, vehicula ac nisi. Admodum accumsan disputationi eu sit. Vide electram sadipscing et per. Si u mundo tá muito paradis? Toma um mé que o mundo vai girarzis!
			article.post#menu
				h2: a(href="componentes.html") # Menu

				p Mussum Ipsum, cacilds vidis litro abertis. Quem num gosta di mim que vai caçá sua turmis! Interagi no mé, cursus quis, vehicula ac nisi. Admodum accumsan disputationi eu sit. Vide electram sadipscing et per. Si u mundo tá muito paradis? Toma um mé que o mundo vai girarzis!
			article.post#dropdown
				h2: a(href="componentes.html") # Dropdown

				p Mussum Ipsum, cacilds vidis litro abertis. Quem num gosta di mim que vai caçá sua turmis! Interagi no mé, cursus quis, vehicula ac nisi. Admodum accumsan disputationi eu sit. Vide electram sadipscing et per. Si u mundo tá muito paradis? Toma um mé que o mundo vai girarzis!
			article.post#tabelas
				h2: a(href="componentes.html") # Tabelas

				p Mussum Ipsum, cacilds vidis litro abertis. Quem num gosta di mim que vai caçá sua turmis! Interagi no mé, cursus quis, vehicula ac nisi. Admodum accumsan disputationi eu sit. Vide electram sadipscing et per. Si u mundo tá muito paradis? Toma um mé que o mundo vai girarzis!
			article.post#breadcrumb
				h2: a(href="componentes.html") # Breamdrumb

				p Mussum Ipsum, cacilds vidis litro abertis. Quem num gosta di mim que vai caçá sua turmis! Interagi no mé, cursus quis, vehicula ac nisi. Admodum accumsan disputationi eu sit. Vide electram sadipscing et per. Si u mundo tá muito paradis? Toma um mé que o mundo vai girarzis!
			article.post#icone
				h2: a(href="componentes.html") # Icone

				p Mussum Ipsum, cacilds vidis litro abertis. Quem num gosta di mim que vai caçá sua turmis! Interagi no mé, cursus quis, vehicula ac nisi. Admodum accumsan disputationi eu sit. Vide electram sadipscing et per. Si u mundo tá muito paradis? Toma um mé que o mundo vai girarzis!
			article.post#slider
				h2: a(href="") # Slider

				p Mussum Ipsum, cacilds vidis litro abertis. Quem num gosta di mim que vai caçá sua turmis! Interagi no mé, cursus quis, vehicula ac nisi. Admodum accumsan disputationi eu sit. Vide electram sadipscing et per. Si u mundo tá muito paradis? Toma um mé que o mundo vai girarzis!
		#sidebar
			h3 Componentes
			nav
				ul
					li
						a(href="#formulario") Formulário
					li
						a(href="#busca") Busca
					li
						a(href="#botao") Botão
					li
						a(href="#modal") Modal
					li
						a(href="#alerta") Alerta
					li
						a(href="#paginacao") Paginação
					li
						a(href="#sanfona") Sanfona
					li
						a(href="#menu") Menu
					li
						a(href="#dropdown") Dropdown
					li
						a(href="#tabelas") Tabelas
					li
						a(href="#breadcrumb") Breadcrumb
					li
						a(href="#icone") Icone
					li
						a(href="#slider") Slider
