extends layout/main
block content
	section#hero-shinobi
		.container
			.block-left
				h1.title-tp1 Marketing <br/> ágil e<br /> Inteligente
				a(href="http://" class="link-decorator open-contact")
					span Entre em contato
			.block-right
				nav#main-menu
					a(href="#" class="link-item") Facebook 
					a(href="#" class="link-item") Linkedin

				h2#brand-shinobi
					a(href="#"): img(src="../images/logo_shinobi.png", width="120" ,alt="Shinobi", srcset="")

			
			.block-services
				.service-item
					h2 Análise de Mercado
					p Análise profunda sobre e mercado de atuação da empresa, público-alvo, posicionamento da concorrência, riscos e oportunidades.
				.service-item
					h2 Otimização e Seo
					p Estratégias que melhoram o posicionamento do site nos mecanismos de busca, resultando no aumento de visitas e conversões.
				.service-item
					h2 UX Design
					p Visamos a experiência positiva, confortável e guiada dos visitantes do site, diminuindo a taxa de rejeição e aumentando qualidade.

	section#shinobi-contact
		a(href="http://" class="close-action") close
		h2#brand-shinobi
			a(href="#"): img(src="../images/logo_shinobi.png", width="120" ,alt="Shinobi", srcset="")
		
		.container

			.contact-title
				h2.title-tp2 Como podemos ajudar?
				p Tem alguma dúvida ou sugestão? Então envie sua mensagem no formulário abaixo que entraremos em contato.

			form#form-help-me(action="")

				.form-row.inline
					.input-single
						input(type="text" placeholder="Como podemos te chamar?")
					
					.input-single
						input(type="text" placeholder="Qual o nome da sua empresa?")
					
				.form-row
					.input-single
						input(type="email" placeholder="Qual o seu melhor e-mail?")
					
				.form-row
					textarea(name="msg" placeholder="Digite sua mensagem :)")

				.form-row
					input(type="submit", value="Enviar", class="btn-submit")