/* --- FORM --- */
button,
input[type="text"],
input[type="submit"],
input[type="email"],
input[type="number"],
input[type="time"],
input[type="date"],
input[type="tel"],
input[type="file"],
input[type="password"],
textarea,
select,button {
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
  background-image: none;
  border-radius: 0;
}

input[type="password"],
input[type="text"],
input[type="submit"],
input[type="time"],
input[type="date"],
input[type="email"],
input[type="number"],
input[type="file"],
input[type="tel"],
textarea,
select {
  outline: none;
  line-height: 1em;
}

@import '_btns';
@import '_inputs';


form#form-help-me{

  .btn-submit{
    background-color: #C65064;
    color: #fff;
    text-transform: uppercase;
    padding: 19px 30px;
    border: none;
    float: right;
    font-weight: bold;
    font-family: 'Montserrat',sans-serif;

    @media(max-width:640px){
      display: block;
      width: 100%;
    }
  }

    display: flex;
    flex-direction: column;
    max-width:70%;
    margin: 0 auto;

    @media(max-width:450px){
      max-width: 90%;
    }
    
  .form-row{
    width: 100%;
    display: flex;
    margin-bottom: 20px;
    justify-content: space-between;
    
    @media(max-width:768px){
      flex-wrap: wrap;
    }

    input{
      box-sizing: border-box;
      &:not(input[type="submit"]){
        background: red;
        padding:20px;
      }
    }

    textarea{
      display: block;
      width: 100%;
      height:160px;
    }
    &.inline{

      @media(max-width:768px){
        &:first-child{
          margin-bottom: 0px;
        }
      }

      input{
        width:auto;
      }

      .input-single{
        width: 49%;

        @media(max-width:768px){
          width: 100%;
          margin-bottom: 20px;
        }

        input{
          width: 100%;
        }
      }
    
    }

    .input-single{
      width: 100%;
      textarea,
      input{
        padding:20px 20px;
        width: 100%;
      }
    }
  }

  button,
  input[type="text"],
  input[type="email"],
  input[type="number"],
  input[type="time"],
  input[type="date"],
  input[type="tel"],
  input[type="file"],
  input[type="password"],
  textarea,
  select,button {
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;
    background-image: none;
    border-radius: 0;
    background-color:transparent;
    border: 1px solid #C65064;
    padding: 10px 20px;
    color: #fff;
  }
}