/* --- INPUTS --- */
.input {
  &-control {
    @include box-display;
    position: relative;
  }

  &-default {
    @include box-display;
    @include font($font-family, 13px, 400, $blue-900);
    background-color: $white-900;
    border: 1px solid $blue-900;
    line-height: 1em;
    outline: none;
    padding: 15px;
    position: relative;
  }
}
